<h1 class="order-head">Заказы</h1>
{{#if orders.length}}
  {{#each orders}}
  <div class="row">
    <col class="s6 offset-s3">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Заказ {{_id}}
          </div>
          <p class="date">Дата: <b>{{date}}</b></p>
          <p>Клиент: <i><b>{{user.userId.name}}</b></i>&nbsp; e-mail: {{user.userId.email}}</p>
          <ol>
            {{#each books}}
            <li>{{book.title}} (x<b>{{count}}</b>)</li>
            {{/each}}
          </ol>
          <hr>
          <p class="total">Цена: <span class="price">{{price}}</span></p>
        </div>
      </div>
    </col>
  </div>
  {{/each}}
{{else}}
<div class="basket-empty">
  <p>Заказы отсутствуют :(</p>
  <img src="/img/orders-empty.png" alt="Заказы">
  <a href="/">Вернуться на главную</a>
</div>
{{/if}}